
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturuğumuz view sayfasıdır</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Semih</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Melih</td>
        <td>Analist</td>
    </tr>
</table>

